# system files
.idea
.DS_Store
Thumbs.db
.vscode

# compiled / dependencies
node_modules
dist
tsconfig.tsbuildinfo
.env
packages/*/.env
.eslintcache
infra/package-lock.json
docs/*
packages/stream/coverage/*

# logs
log-debug
*.log

# others
packages/stream/src/defs/stream.ts
*.zip
